.employees-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 80%;
    margin: 2rem auto;
}

.employee {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.employee p .error {
    color: red;
    font-weight: bold;
    display: inline !important;
    margin: 0 !important;
    padding: 0 !important;
}